@charset "utf-8";

@import "../../base/event";

.userList {
  &__item {
    &__container {
       display: flex;
    }

    &__thumbnailBox {
      width: 80px;
      height: 80px;
      line-height: 80px;
    }

    &__info {
      flex-grow: 1;
      padding: 8px;
    }
  }
}
