
.slider {
  cursor: pointer;
  width: 100%;
  vertical-align: middle;

  &::-webkit-slider-thumb {
    width: 2rem;
    height: 2rem;
    background-color: white;
    border-radius: 50%;
  }
  &::-webkit-slider-runnable-track {
    background-color: grey;
    border-radius: 1rem;
  }
  &:active::-webkit-slider-thumb {
    background-color: white;
  }
}
