@charset "utf-8";

@import "../../bases/color";

.textField {
  border: 1px solid var(--borderColor);
  border-radius: 4px;
  font-size: 1.6rem;
  padding: 8px;
  width: 100%;
  box-sizing: border-box;

  &.isError {
    border: 1px solid var(--dangerAccentColor);
  }
}
