@charset "utf-8";

@import "../base/color";
@import "../layout/container";

.footer {
  @apply --primaryColorTheme;
  margin-top: 40px;

  &__text {
    padding: 16px 16px 0 16px;
    text-align: right;
  }
}
