@charset "utf-8";

body {
  background-color: #bbbbbb;
}

.container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  max-width: 1600px;
  margin: auto;
}

.main {
  flex: 1 0 auto;
}
