@charset "utf-8";

@import "../../base/color";
@import "../../base/event";
@import "../../layout/default";
@import "../../module/ui/linkBox";
@import "../../module/ui/textLink";
@import "../../module/ui/image";

.imageCard {
  display: flex;
  flex-direction: column;
  color: var(--primaryTextColor);
  background-color: var(--contentsBackgroundColor);
  margin-bottom: 24px;

  &__title {
    @apply --secondaryColorTheme;
    font-size: 1.5rem;
    padding: 8px;
  }

  &__actionBox {
    display: flex;
    justify-content: space-around;
    width: 100%;
    z-index: 1;
    border-top: 1px solid rgba(0, 0, 0, 0.125);
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);

    &__item {
      width: 100%;
      height: 100%;
    }
  }
}

.imageBox {
  width: 100%;
  height: 60vh;
  z-index: 1;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.125);
}

.userBox {
  display: flex;

  &__thumbnailBox {
    width: 80px;
    height: 80px;
  }

  &__info {
    flex-grow: 1;
    padding: 8px;
  }
}

.commentsBox {
}

.commentBox {
  width: 100%;

  &:hover {
    @apply --defaultHover;
  }

  &__thumbnail {
    display: inline-block;
    width: 80px;
    height: 80px;
    vertical-align: top;
  }

  &__content {
    display: inline-block;
    width: calc(100% - 64px);
    color: var(--primaryTextColor);
  }

  &__username {
    width: 50%;
    display: inline-block;
    color: var(--secondaryTextColor);
  }

  &__time {
    width: 50%;
    display: inline-block;
    color: var(--secondaryTextColor);
  }

  &__text {

  }

  & + & {
    border-top: 1px solid rgba(0, 0, 0, 0.125);
  }
}
