@charset "utf-8";

@import "../../base/color";
@import "../ui/textLink";

.section {
  overflow: hidden;

  &:not(:first-child) {
    margin-top: 24px;
  }

  &__title {
    @apply --secondaryColorTheme;
    padding: 8px;
  }

  &__actions {
    text-align: right;
    margin: 8px;
  }
}
