@charset "utf-8";

@import "../../base/color";

.card {
  margin-top: 24px;
  flex-grow: 1;
  background-color: var(--contentsBackgroundColor);
  padding: 16px;

  & > * {
    padding: 8px;
  }

  &__title {
    display: block;
    font-size: 2rem;
  }

  &__action {
    display: block;
    margin: 8px;
  }
}
