@charset "utf-8";

@import "../../base/color";

.imageList {
  display: flex;
  flex-direction: row;
}

.imageCard {
  display: flex;
  flex-direction: column;
  background-color: var(--contentsBackgroundColor);
  margin: 4px;
  width: 120px;

  &__info {
    color: var(--primaryTextColor);
    padding: 4px;
    font-size: 12px;

    & > * {
      margin: 4px;
    }

    &__icon {
      vertical-align: middle;
      font-size: 12px;
    }
  }
}

.imageBox {
  height: 120px;
  line-height: 120px;
  margin: auto;
}
