@charset "utf-8";

@import "../../base/color";
@import "../../base/event";

.imageList {
  display: flex;
  flex-direction: row;
}

.imageCard {
  display: flex;
  flex-direction: column;
  background-color: var(--contentsBackgroundColor);
  margin: 4px;
  width: 120px;
  z-index: 1;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);

  &:hover {
    @apply --defaultHover;
  }

  &__info {
    color: var(--primaryTextColor);
    padding: 4px;
    font-size: 12px;

    & > * {
      margin: 4px;
    }

    &__icon {
      font-size: 12px;
    }
  }
}

.imageBox {
  height: 120px;
  line-height: 120px;
  margin: auto;
}
