@charset "utf-8";

.layerToolBox {
  background-color: #eeeeee;
  border: 1px solid;

  &__header {
    padding: 8px;
  }

  &__layerList {
    padding: 0;
    overflow-y: scroll;
    height: 200px;

    &__item {
      display: flex;
      flex-direction: row;
      padding: 8px;

      &__name {
      }

      &__visible {
        margin: auto;
      }

      &:hover {
        @include hover-color;
      }

      &.isSelected {
        @include selected-color;
      }
    }
  }

  &__footer {
    display: flex;
  }
}
