@charset "utf-8";

.toolBox {
  background-color: #eeeeee;
  padding: 8px;
  border: 1px solid;
  position: relative;
  z-index: 1;
  width: 40px;

  &__item {
    padding: 8px;
    cursor: pointer;

    &:hover {
      background-color: rgba(16, 128, 240, 0.125);
    }

    &.isSelected {
      background-color: rgba(16, 128, 240, 0.25);
    }
  }

  &__colorBox {
    height: 8px;
    width: 8px;
    border: 1px solid;
  }
}
